body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    width: 480px;
    height: 480px;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid #000;
    cursor: pointer;
}

.square {
    background-color: #f0d9b5;
    /* Default light color */
}

.square.dark {
    background-color: #b58863;
    /* Dark color */
}

.selected {
    outline: 3px solid yellow;
    position: relative;
    z-index: 1;
}

.valid {
    position: relative;
    width: 59px;
    height: 59px;
}

.valid::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(144, 238, 144, 1);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.valid.capture {
    position: relative;
    /* Keep this for capture moves */
    background-color: rgba(255, 0, 0, 0.5);
    /* Light red background for captures */
}

.capture::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FF4500;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}